[push]
	default = simple
[pull]
  ff = only

[user]
	name = Carlisia Thompson
	email = carlisia@grokkingtech.io
	signingkey = 94F47D53D87781F7F5E2F7DC32DFFCE1943363F6
[gpg]
	program = gpg2
[commit]
	gpsign = true
	gpgsign = true
[credential]
	helper = osxkeychain

[merge]
	tool = vimdiff
[mergetool]
	keepBackup = true
[core]
	editor = nvim
	excludesfile = /Users/carlisiac/.gitignore_global

[alias]
  co = checkout
  oops = reset --hard 'HEAD@{1}'
  forgot = commit --amend -C HEAD
  change = codereview change
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  l0 = log --graph --oneline --all --decorate
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync

[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[http]
	cookiefile = /Users/carlisiac/.gitcookies

[url "git@github.com:"]
 insteadOf = https://github.com/

[url "git@gitlab.com:"]
 insteadOf = https://gitlab.com/

[filter "lfs"]
# First time:
# 	brew install git-lfs
# 	git lfs install
# Configure per repo when you have large files in your repository and/or a lot of binaries:
# 	https://mydeveloperplanet.com/2018/10/31/git-lfs-why-and-how-to-use/
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
