./nvim/.config/nvim/tmp

*.so
*.swo
*.swp

google-cloud-sdk

/gh/.config/gh/hosts.yml

/other-configs/scripts/*.*.txt

yaml-language-server

newchad.sh

/lazygit/.config/lazygit/state.yml

/.tmp

fish/.config/fish/fish_variables
*.backup
