nvim/.config/nvim/tmp

*.so
*.swo
*.swp

google-cloud-sdk

gh/.config/gh/hosts.yml

/Users/carlisiac/working/src/github.com/carlisia/dotfiles/other-configs/scripts/*.*.txt

yaml-language-server

newchad.sh

