nvim/.config/nvim/tmp

*.so
*.swo
*.swp

google-cloud-sdk

gh/.config/gh/hosts.yml

other-configs/scripts/*.*.txt

yaml-language-server

newchad.sh

nvim/.config/nvim/sessions/

lazygit/.config/lazygit/state.yml