// daily
layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
    children
    pane size=2 borderless=true {
      plugin location="status-bar" {
        classic false
      }
    }
  }
  tab name="Daily" {
    pane split_direction="vertical" {
      pane name="Files" command="yazi" {
        args "~/Documents"
      }
      pane name="Today" command="nvim" {
        cwd "${VAULT_MAIN}"
      }
    }
  }
  tab name="Dashboard" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane name="Gratitudes"
        pane name="ToDos"
      }
      pane split_direction="horizontal" {
        pane name="Achievements"
        pane name="Fleeting Notes"
      }
    }
  }
 c
