// Default config:
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
theme "nightfox"
default_layout "work"
auto_layout true
default_mode "locked"
keybinds {
  unbind "Ctrl g"
  unbind "Ctrl s"
  shared {
    bind "Alt m" {
      ToggleMouseMode
    }
    bind "Ctrl /" {
      SwitchToMode "Normal"
    }
  }
  shared_except "tmux" {
    bind "Alt `" {
      SwitchToMode "Tmux"
    }
  }
  shared_except "locked" {
    bind "/" {
      SwitchToMode "Locked"
    }
    bind "Ctrl q" {
      Quit
    }
    bind "Alt f" {
      ToggleFloatingPanes
    }
    bind "Alt n" {
      NewPane
    }
    bind "Alt i" {
      MoveTab "Left"
    }
    bind "Alt o" {
      MoveTab "Right"
    }
    bind "Alt h" "Alt Left" {
      MoveFocusOrTab "Left"
    }
    bind "Alt l" "Alt Right" {
      MoveFocusOrTab "Right"
    }
    bind "Alt j" "Alt Down" {
      MoveFocus "Down"
    }
    bind "Alt k" "Alt Up" {
      MoveFocus "Up"
    }
    bind "Alt =" "Alt +" {
      Resize "Increase"
    }
    bind "Alt -" {
      Resize "Decrease"
    }
    bind "Alt [" {
      PreviousSwapLayout
    }
    bind "Alt ]" {
      NextSwapLayout
    }
    // plugins
    bind "Alt Shift F" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
        LOAD_ZELLIJ_BINDINGS "true"
        floating true
      }
    }
    bind "Alt Shift H" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/harpoon.wasm" {
        floating true
        move_to_focused_tab true
      }
    }
    // open monocle in a new floating pane and open any results in a new tiled/floating pane
    bind "Alt Shift N" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" {
        floating true
      }
      SwitchToMode "Normal"
    }
    // open monocle on top of the current pane and open any results on top of itself
    bind "Alt Shift T" {
      LaunchPlugin "file:~/.config/zellij/plugins/monocle.wasm" {
        in_place true
        kiosk true
      }
      SwitchToMode "Normal"
    }
  }
  scroll {
    bind "Ctrl `" {
      SwitchToMode "Normal"
    }
  }
  search {
    bind "Ctrl `" {
      SwitchToMode "Normal"
    }
  }
  session {
    bind "Ctrl `" {
      SwitchToMode "Normal"
    }
    bind "Ctrl `" {
      SwitchToMode "Scroll"
    }
  }
  shared_except "scroll" "locked" {
    bind "Ctrl s" {
      SwitchToMode "Scroll"
    }
  }
  shared_except "normal" "locked" {
    bind "Enter" "Esc" {
      SwitchToMode "Normal"
    }
  }
  shared_except "pane" {
    bind "Ctrl p" {
      SwitchToMode "Pane"
    }
  }
  shared_except "resize" "locked" {
    bind "Ctrl n" {
      SwitchToMode "Resize"
    }
  }
  shared_except "scroll" "locked" {
    bind "Ctrl s" {
      SwitchToMode "Scroll"
    }
  }
  shared_except "session" "locked" {
    bind "Ctrl o" {
      SwitchToMode "Session"
    }
  }
  shared_except "tab" {
    bind "Ctrl t" {
      SwitchToMode "Tab"
    }
  }
  shared_except "move" "locked" {
    bind "Ctrl h" {
      SwitchToMode "Move"
    }
  }
  shared_except "tmux" "locked" {
    bind "Alt `" {
      SwitchToMode "Tmux"
    }
  }
  // TMUX MODE
  tmux {
    bind "Ctrl /" {
      SwitchToMode "Normal"
    }
    bind "[" {
      SwitchToMode "Scroll"
    }
    bind "]" {
      EditScrollback
      SwitchToMode "Normal"
    }
    // ---> Pane
    bind "-" "_" {
      NewPane "Down"
      SwitchToMode "Normal"
    }
    bind "s" "|" "\\" {
      NewPane "Right"
      SwitchToMode "Normal"
    }
    bind "x" {
      CloseFocus
      SwitchToMode "Normal"
    }
    bind "z" {
      ToggleFocusFullscreen
      SwitchToMode "Normal"
    }
    bind "h" {
      MoveFocus "Left"
    }
    bind "j" {
      MoveFocus "Down"
    }
    bind "k" {
      MoveFocus "Up"
    }
    bind "l" {
      MoveFocus "Right"
    }
    bind "o" {
      FocusNextPane
    }
    // ---> Tab
    bind "c" {
      NewTab
      SwitchToMode "Normal"
      SwitchToMode "RenameTab"
      TabNameInput 0
    }
    bind "r" {
      SwitchToMode "RenameTab"
      TabNameInput 0
    }
    bind "X" {
      CloseTab
      SwitchToMode "Normal"
    }
    bind "H" "p" {
      GoToPreviousTab
    }
    bind "L" "n" "Tab" {
      GoToNextTab
    }
    bind "<" {
      MoveTab "Left"
    }
    bind ">" {
      MoveTab "Right"
    }
    bind "1" {
      GoToTab 1
      SwitchToMode "Normal"
    }
    bind "2" {
      GoToTab 2
      SwitchToMode "Normal"
    }
    bind "3" {
      GoToTab 3
      SwitchToMode "Normal"
    }
    bind "4" {
      GoToTab 4
      SwitchToMode "Normal"
    }
    bind "5" {
      GoToTab 5
      SwitchToMode "Normal"
    }
    bind "6" {
      GoToTab 6
      SwitchToMode "Normal"
    }
    bind "7" {
      GoToTab 7
      SwitchToMode "Normal"
    }
    bind "8" {
      GoToTab 8
      SwitchToMode "Normal"
    }
    bind "9" {
      GoToTab 9
      SwitchToMode "Normal"
    }
    // ---> Session
    bind "d" {
      Detach
    }
    // ---> Switch to other modes
    bind "Enter" "Esc" "Ctrl /" {
      SwitchToMode "Normal"
    }
    bind "Ctrl p" {
      SwitchToMode "Pane"
    }
    bind "Ctrl t" {
      SwitchToMode "Tab"
    }
    bind "Ctrl n" {
      SwitchToMode "Resize"
    }
    bind "[" {
      SwitchToMode "Scroll"
    }
    bind "Ctrl o" {
      SwitchToMode "Session"
    }
    bind "Ctrl m" {
      SwitchToMode "Move"
    }
    bind "/" {
      SwitchToMode "Locked"
    }
  }
}
// Plugins to load in the background when a new session starts
load_plugins {

}
plugins {
  // Tab bar styling
  zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" {
    // -- Catppuccin Macchiato --
    color_rosewater "#f4dbd6"
    color_flamingo "#f0c6c6"
    color_pink "#f5bde6"
    color_mauve "#c6a0f6"
    color_red "#ed8796"
    color_maroon "#ee99a0"
    //   color_peach "#f5a97f"
    color_peach "#faf4ed"
    color_yellow "#eed49f"
    color_green "#a6da95"
    color_teal "#8bd5ca"
    color_sky "#91d7e3"
    color_sapphire "#7dc4e4"
    color_blue "#8aadf4"
    color_lavender "#b7bdf8"
    color_text "#cad3f5"
    color_subtext1 "#b8c0e0"
    color_subtext0 "#a5adcb"
    color_overlay2 "#939ab7"
    color_overlay1 "#8087a2"
    color_overlay0 "#6e738d"
    color_surface2 "#5b6078"
    color_surface1 "#494d64"
    color_surface0 "#363a4f"
    color_base "#24273a"
    color_mantle "#1e2030"
    color_crust "#181926"
    format_left "#[bg=$surface0,fg=$sapphire]#[bg=$sapphire,fg=$crust,bold] {session} #[bg=$surface0] {mode}#[bg=$surface0] {tabs}"
    format_center "{notifications}#[bg=$surface0,fg=$maroon]#[bg=$maroon,fg=$crust]󱦥 #[bg=$surface1,fg=$maroon,bold] {command_weather}#[bg=$surface0,fg=$surface1]"
    format_right "#[bg=$surface0,fg=$flamingo]#[bg=$surface0,fg=$maroon]#[bg=$maroon,fg=$crust]󰃭 #[bg=$surface1,fg=$maroon,bold] {datetime}#[bg=$surface0,fg=$surface1]"
    format_space "#[bg=$surface0]"
    format_hide_on_overlength "true"
    format_precedence "lrc"
    border_enabled "false"
    border_char "─"
    border_format "#[bg=$surface0]{char}"
    border_position "top"
    hide_frame_for_single_pane "true"
    mode_normal "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$surface0,fg=$green]"
    mode_tmux "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$surface0,fg=$mauve]"
    mode_locked "#[bg=$red,fg=$crust,bold] LOCKED  #[bg=$surface0,fg=$red]"
    mode_pane "#[bg=$teal,fg=$crust,bold] PANE#[bg=$surface0,fg=teal]"
    mode_tab "#[bg=$teal,fg=$crust,bold] TAB#[bg=$surface0,fg=$teal]"
    mode_scroll "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$surface0,fg=$flamingo]"
    mode_enter_search "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surfaco,fg=$flamingo]"
    mode_search "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$surfac0,fg=$flamingo]"
    mode_resize "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surfac0,fg=$yellow]"
    mode_rename_tab "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$surface0,fg=$yellow]"
    mode_rename_pane "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$surface0,fg=$yellow]"
    mode_move "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$surface0,fg=$yellow]"
    mode_session "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$surface0,fg=$pink]"
    mode_prompt "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$surface0,fg=$pink]"
    tab_normal "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
    tab_normal_fullscreen "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
    tab_normal_sync "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
    tab_active "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
    tab_active_fullscreen "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
    tab_active_sync "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
    tab_separator "#[bg=$surface0] "
    tab_sync_indicator " "
    tab_fullscreen_indicator " 󰊓"
    tab_floating_indicator " 󰹙"
    notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
    notification_format_no_notifications ""
    notification_show_interval "10"
    command_host_command "uname -n"
    command_host_format "{stdout}"
    command_host_interval "0"
    command_host_rendermode "static"
    command_user_command "whoami"
    command_user_format "{stdout}"
    command_user_interval "10"
    command_user_rendermode "static"
    datetime "{format}"
    datetime_format "%A, %B %d %H:%M %p"
    datetime_timezone "America/Los_Angeles"
    // weather
    command_weather_command "bash -c ~/.config/zellij/shell/weather.sh"
    command_weather_format "{stdout}"
    command_weather_interval "3600"
    command_weather_rendermode "static"

  }
}
on_force_close "detach"
copy_on_select true 
copy_command "pbcopy"
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// (Requires restart)
session_serialization true
// Whether pane viewports are serialized along with the session, default is false
// (Requires restart)
serialize_pane_viewport true
// Whether to show release notes on first version run
show_release_notes true
show_startup_tips false
